 # 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

In [ ]:
* = it is a expresion because it is multiplication opreater in math  
'hello' = it is a value in quotes known as string
-87.8 = it is a value because it is a float  
/ = it is a expression because it is divison operater in math
+ = it is a expression because it is addition operater in math 
6 = it is a value because it is int

# 2. What is the difference between string and variable?

In [ ]:
string = it is value repersenting text 
ex :- "vishal" 
variable = it is contariner which store value 
ex :- name = "vishal"

# 3. Describe three different data types.

In [ ]:
int = it is datatype shows only whole number without decimal
ex:- 2,3,4 
float = it is datatype shows only whole number with decimal 
ex:- 3.14,2.56,5.16
dict = it is a datatype whic shows key value in pairs 
ex:- {"name":"vishal","age" : 19}

# 4. What is an expression made up of? What do all expressions do?

In [ ]:
An expression is made up of values, variables, operators, and sometimes function calls.

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [ ]:
spam = 10 is statement and 10 is a expression in this statement

# 6. After running the following code, what does the variable bacon contain ?

In [8]:
baccon = 22
baccon + 1

23

# 7. What should the values of the following two terms be?

In [11]:
'spam' + 'spamspam'
'spam' * 3

'spamspamspam'

# 8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
eggs is vaild because in python there are some naming rule in which we cannot take int a variable

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [10]:
int("89")

89

In [19]:
float(222)

222.0

In [15]:
str(1000)

'1000'

# 10. Why does this expression cause an error? How can you fix it? &#39;I have eaten &#39; + 99 + &#39; burritos.&#39;

In [ ]:
this is because your adding int in string in python we cannot add different datatype it is strongly typed launaguge